<div class="wrapper-pro">

    <app-sidebar></app-sidebar>
    
    <div class="content-inner-all">
    
      <app-header></app-header>
    
      <app-breadcrumbs></app-breadcrumbs>
    
    <router-outlet></router-outlet>
        <!-- Breadcome End-->
                <!-- login Start-->
                <!-- <div class="login-form-area mg-t-30 mg-b-40">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-lg-4"></div>
                        
                          <div class="col-lg-4"></div>
                      </div>
                  </div>
              </div> -->
              <!-- login End-->
    
    
      </div>
    
      
      </div>
